@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --color-steel-blue: #4682b4;
  --color-sky-blue: #87ceeb;
  --color-powder-blue: #b0e0e6;

  --color-iron-gray: #333333;

  --font-sora: "Sora", sans-serif;

  --animate-infinite-horizontal-scroll: infinite-horizontal-scroll 30s infinite
    linear;
  @keyframes infinite-horizontal-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 16px));
    }
  }
}
